/*fonts*/
nav, .upper, .about h3, .col-md-6 p, .form-group, button.send, .col-md-6.space h3{
  font-family: 'courier new';
}

h1.intro-text, h1.specificity, h2.specificity, i a {
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background-color: yellow;
}


nav.navbar {
  background-color: yellow;
  border: 0;
  margin-bottom: 0;
}

nav a {
  color: black;
}


nav li:hover {
  background-color: orange;
}

i.fa.fa-linkedin-square.fa-3x.icons {
  margin-top: 4px;
}

img {
  width: 100%;
  height: auto;
}

.name {
  text-decoration: underline;
}

.highlight {
  background-color: rgba(255,255,0, .9);
  color: black;
  font-size: 1.5em;
}

i a, i a:hover {
  text-decoration: none;
  color: black;
}

.image {
  position: relative;
  width: 100%;
}

.work-text{
  position: absolute;
  font-size: 6em;
  top: 200px;
  left: 10%;
  width: 100%;
  color: white;
}

.intro-text{
  position: absolute;
  bottom: 200px;
  left: 10%;
  width: 100%;
  color: white;
}
.intro-text2{
  position: absolute;
  bottom: 159px;
  left: 13%;
  width: 100%;
  color: white;
}

.ruby {
  width: 30px;
}

#logo-container {
  padding: 7.5px;
}

.brand {
  height: 36px;
  width: auto;
}

.centered {
  text-align: center;
}

.contact {
  padding: 2.5em;
}
.contact, .form-control.override {
  background-color: black;
  color: white;
}

.contact h1 {
  text-align: center;
  color: yellow;
}

.col-md-6.space{
  margin: 0;
  padding: 0;
}

.col-md-6.space h2, .col-md-6.space h3, .col-md-6.space i {
  padding: 0 20px;
}

#map {
  height: 400px;
  width: 65%;
  background-color: black;
  display: block;
  margin: 0 auto;
}

button#submit {
  background-color: yellow;
  display: block;
  margin: 0 auto;
  color: black;
  width: 10em;
  /*height: 5em;*/
  border: 0;
  font-size: 2em;
}
