

/*fonts*/
nav, .upper, .about h3, .col-md-6 p, .form-group, button.send, .col-md-6.space h3{
  font-family: 'courier new';
}

h1.intro-text, h1.specificity, h2.specificity, i a {
  font-family: 'Open Sans', sans-serif;
}


body {
  margin: 0;
}

.upper {
  height: 36px;
  padding-top: 0px;
  top: 0;
  width: 100%;
}

.main-nav-scrolled {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

nav.navbar.main-nav, .main-content {
  position: relative;
}

nav.navbar.main-nav {
  background-color: yellow;
  border: 0;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow:  0 2px 3px rgba(0, 0, 0, .4);
}

nav a {
  color: black;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  background-color: yellow;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > a > i:hover {

}

nav li:hover {
  background-color: orange;
}

i.fa.fa-linkedin-square.fa-3x.icons {
  margin-top: 4px;
}

::selection {
  background-color: yellow;
}

img {
  width: 100%;
  height: auto;
}

.name {
  text-decoration: underline;
}

.highlight {
  background-color: rgba(255,255,0, .9);
  color: black;
  font-size: 1.5em;
}

i a, i a:hover {
  text-decoration: none;
  color: black;
}

.image {
  position: relative;
  width: 100%;
}

.profile {
  width: 18%;
}

.left-text {
  padding-left: 25px;
  padding-right:  0;
}

.work-text{
  position: absolute;
  font-size: 5em;
  top: 10%;
  left: 10%;
  width: 100%;
  color: white;
}

.intro-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  max-width: 80%;
  color: white;
}

@media all and (max-width: 599px) {
  .intro-text, .upper h2 {
    font-size: 18px;
    bottom: 0%;
  },
  #map {
    height: 200px;
  }
}


.ruby {
  width: 30px;
}

#logo-container {
  padding: 7.5px;
}

.brand {
  height: 36px;
  width: auto;
}

.centered {
  text-align: center;
}

.contact {
  padding: 2.5em;
}
.contact, .form-control.override {
  background-color: black;
  color: white;
}

.contact h1 {
  text-align: center;
  color: yellow;
}

.col-md-6.space{
  margin: 0 !important;
  padding: 0 !important;
}

.col-md-6.space h2, .col-md-6.space h3, .col-md-6.space i {
  padding: 0 20px;
}

.col-sm-6.space.right-pic {
  padding-left: 0;
}


.col-sm-6.space.left-pic {
  padding-right: 0;
}

#map {
  height: 400px;
  width: 65%;
  background-color: black;
  display: block;
  margin: 0 auto;
}

button#submit {
  background-color: yellow;
  display: block;
  margin: 0 auto;
  color: black;
  width: 10em;
  /*height: 5em;*/
  border: 0;
  font-size: 2em;
}

.col-sm-6 .space .left-text {
  padding-right: 0;
}
